      <div class="container">
	<div class="fixed" style="display:flex;justify-content:center;flex-direction:row;">
	  <div style="width:50%">
	    <h3>THIS IS EASY!</h3> 
	    <div >ACE is simple and fun.
	      Quick to learn but with real depth.  Start playing, not
	      looking stuff up.
	    </div>
	  </div>
	</div>
	<div class="fixed" style="display:flex;justify-content:center;flex-direction:row;">
	  <div style="width:50%">
	    <h3>PICK A CARD</h3> 
	    <div >Grab a regular deck of playing cards. You decide when
	    your character succeeds or fails.
	    </div>
	  </div>
	</div>
	<div class="fixed" style="display:flex;justify-content:center;flex-direction:row;">
	  <div style="width:50%">
	    <h3>JUST ONE BOOK</h3> 
	    <div >You don't need a whole bookshelf, just one book with
	    rules, characters, monsters and more.
	    </div>
	  </div>
	</div>
      </div>

      <div class="container" style="background-color: lightgrey;">
	<div class="flex-item" style="display:flex;justify-content:center;flex-direction:row;">
	  <div style="width:400px;text-align:center;">
	    <H3>SAY WHAT YOU DO &amp; PLAY A CARD<br> &spades; &hearts;
	      &diams; &clubs;</h3> 
	    <div >Slaying a dragon? Entertaining the King? Running
	    from jealous ex-lovers?  Pick a card from your hand and
	    play! ACE handles everything with fast, simple rules.
	    </div>
	  </div>
	</div>
      </div>

      <div class="container">
	<div class="flex-item" style="display:flex;justify-content:center;flex-direction:row;">
	  <div style="width:50%;text-align:center;">
	    <H3><a href="https://www.lulu.com/shop/colin-steele/ace-of-blades/hardcover/product-w9j7m8.html?page=1&pageSize=4">BUY THE PRINTED BOOK</a></h3> 
	    <p >Lulu does an excellent job.</p>

	    <H3><a href="https://www.drivethrurpg.com/product/467201/Ace-of-Blades?affiliate_id=288729&src=dotcom_landing">GET THE PDF</a></h3> 
	    <p >Affordable!  Convenient!</p>

	    <H3><a href="/download">DOWNLOAD THE CHARACTER SHEET</a></h3> 
	    <p >Get started today.</p>
	  </div>
	</div>
      </div>

      <div class="container"  
	   style="background-color: grey; justify-content: center; gap: 10px 10px">
	<div style="margin-top: 20px; transform: rotate(0.02turn);">
	  <img width="200px;" src="assets/images/ss1.png"/>
	</div>
	<div>
	  <a href="/assets/images/ss2.png"><img width="200px;" src="assets/images/ss2.png"/></a>
	</div>
	<div style="margin-top: 13px; transform: rotate(-0.01turn);">
	  <img width="200px;" src="assets/images/ss3.png"/>
	</div>
	<div style="transform: rotate(0.005turn);">
	  <img width="200px;" src="assets/images/ss4.png"/>
	</div>
      </div>
      
