<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- include analytics.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- if page.layout != "home" -%}
    {%- include extensions/theme-toggle.html -%}
    {% endif %}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">

      {%- if page.layout == "home" -%}
      {%- include views/landing.html -%}
      {% endif %}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>
